body{
  margin: 0%;
  padding: 0%;
  font-family: 'Muli', sans-serif;
  background-color: #f9f9f9;
  font-size: 16px;
}
p{
  font-size: 17px;
}
li{
  font-size: 18px;
  color: black;
}
.info-text{
  font-weight: 300;
}
#vegetables{
 color: #172a3a;
 font-size: 20px;
 padding: 8px;
}
#vegetables > button{
  padding: 5px;
  width: 150px;
}
/*  */
/*  */
/*  */
/* GENERIC CLASSES */
/*  */
/*  */
.container{
  padding: 10px;
}
.container-table{
  padding: 9px;
  margin: 10px;
}
.card{
  margin: 8px;
  padding: 14px;
  background-color: #FFF;
}
.card-width-md{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  padding: 14px;
  background-color: #FFF;
}
.no-list-style{
  list-style: none;
}
.container-content > li{
  padding: 15px;
  list-style: none;
}
.vege-lists li{
  list-style-type: none;
padding: 6px;
height: 24px;
margin-bottom: 4px;
display: inline-block;
}
.align-center{
  text-align: center;
}
.input-box-style{
  height: 25px;
  width: 300px;
  padding: 5px;
}
.button{
  padding: 8px;
  margin-top: 15px;
}
/*  */
/* COLORS */
.primary-color-heading{
margin-top: 0px;
font-size: 1.75em;
color: #2e2e2e;
font-weight: 600;
}
.primary-color-subheading{
  font-size: 22px;
color: #2e2e2e;
/* color: #172a3a; */
}
/*  */
/*  */

label {
  display: inline-block;
  width: 70px;
  text-align: right;
  font-size: 20px;
}​
.justify-content{
  justify-content: left;
}
.button:hover{
  color: rgba(26, 24, 24, 0.582);
}
hr{
  color: rgba(128, 128, 128, 0.219);
  width: 70%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(0, 0, 0);
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}

/*  */
/*  */
/*  */
/* GENERIC CLASSES END*/
/*  */
/*  */
#streets{
  width: 30%;
  height: 40px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border: 1px solid #ddd;
}
th, td {
    text-align: center;
    padding: 16px;
  }
  td{
    color:#575c55;
    font-weight: bold;
}   
  th:first-child, td:first-child {
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  /*  */
  /* MEDIA QUERIES */
  @media screen and (max-width: 360px){
th, td{
      font-size: 14px;
    }
.container{
      margin: 0px;
      padding: 5px;
    }
    .input-box-style{
      height: 25px;
      width: 250px;
    }
    .no-list-style{
      padding: 0px;
    }
    #streets{
      width: 90%;
    }
    .card-width-md{
      width: 84.5%;
    }
    .street-wise-col, .weather-wise-col{
      width: 90%;
    }
    p#logo{
      left: -100px;
    }
  }
  @media screen and (min-width: 361px) and (max-width: 480px){
    .street-wise-col, .weather-wise-col{

    }
  }
  @media screen and (min-width: 481px) and (max-width: 960px){
    .street-wise-col, .weather-wise-col
    {
    
    }
  }